body{
	font-size: 44px;
	text-align: center
}

input[type = "date"] {
	margin: auto;
	padding: 15px;
	font-size: 1.5rem;
	border: 2px solid #eeeeee;
	border-radius: 15px
}

button {
	border: 2px solid #ffffff;
	background-color: #eeeeee;
	padding: 20px;
	min-width: 120px;
	font-size: 1rem;
	border-radius: 15px
}

#submit {	
	border: 2px solid #ffffff;
	border-radius: 15px;
	background-color: #eeeeee;
	padding: 20px;
	font-size: 1.5rem
}

#five-days {
	display: auto;
	flex-wrap: wrap;
	margin: auto;
	text-align: center;
}
